.network-toggle.left.clear
  .left.clear.item
    = render 'twitter_network_button', :oops => false
  .left.clear.item
    = render 'facebook_network_button', :oops => false
  .left.clear.item
    = render 'youtube_network_button', :oops => false
  = render 'hidden_network_fields'
  .left.clear.span-2
    %input.left.clear{:id => 'edit-network-preferences', :value => 'Save', :type => 'submit'}/
  - if defined? @message and @message.present?
    .left.span-6{:id => 'edit-network-preferences-message'}= @message
  :javascript
    $(function() { bindEditNetworkPreferencesClick('#edit-network-preferences', "#{remove_networks_path}"); });

