/ content section
.span-15.box
  %span.number.left.clear= "#{item_number}."
  %span.list-item
    %span
      Add a
      = succeed "?" do
        %span.orange Trend
      (or
      = "#{item_number + 1})"
  = render 'trend'
  %hr.space/

