<%- if defined? @tool and @tool == dashboard_blastout_url %>
  <div class='span-1 left'>
    <input id='video-<%= "#{video.guid}" %>' type="radio" name="mashout-video" value='<%= "#{video.guid}" %>' class='mashout-video' />
    <input id='video-uri-<%= "#{video.guid}" %>' type="hidden" name="mashout-video-uri" value='<%= "#{video.bitly_uri}" %>' />
  </div>
<% end %>
<%= render 'nimbb_video', :video => video %>
<span class="video-title"><%= video.name %></span>
<br />
<a id='<%= "delete-video-#{video.guid}" %>' rel='nofollow' href='#'>Delete</a>
|
<a id='<%= "edit-video-#{video.guid}" %>' rel='nofollow' href='#'>Edit</a>
<div id='<%= "edit-video-container-#{video.guid}" %>' class='edit-video-container'>
  <input id='<%= "edit-video-name-#{video.guid}" %>' type='text' name='edit-video-name-#{video.guid}' />
  &nbsp;
  <input id='<%= "edit-video-button-#{video.guid}" %>' type='button' value='Save' class='button' />
  <span class="clear left" id='<%= "edit-video-name-message-#{video.guid}" %>'>&nbsp;</span>
</div>
<script type='text/javascript'>
    //<![CDATA[
    $(function() {
        function onUpdateVideo(response, status, xhr) {
            var contentType = xhr.getResponseHeader('content-type') || '';
            var isHtml      = contentType.indexOf('html') > -1;
            var isText      = contentType.indexOf('text') > -1;

            if(isHtml) {
              $('#videos').replaceWith(response);
            } else if(isText) {
              $('<%= "#edit-video-name-message-#{video.guid}" %>').html(xhr.responseText);
            }
        }

        bindDynamicPreviewVideoRadioClick('#video-<%= "#{video.guid}" %>', '#video-uri-<%= "#{video.guid}" %>', '#hidden-video', '#out-preview');

        $('<%= "#delete-video-#{video.guid}" %>').click(function() {
            $.ajax({url:'<%= "#{delete_video_path(video.guid)}" %>',
                    type: 'DELETE',
                    data: {'source': '<%= "#{@tool}" %>'},
                    success: function(data) { $('#videos').replaceWith(data); },
                    async: false
            });

            return false;
        });

        $('<%= "#edit-video-#{video.guid}" %>').click(function() {
            $('<%= "#edit-video-container-#{video.guid}" %>').show();
            return false;
        });

        $('<%= "#edit-video-button-#{video.guid}" %>').click(function() {
            $.ajax({url:'<%= update_video_path(video.guid) %>',
                    type: 'POST',
                    data: {'name': $('<%= "#edit-video-name-#{video.guid}" %>').val(), 'source': '<%= "#{@tool}" %>'},
                    success: function(response, status, xhr) { onUpdateVideo(response, status, xhr); },
                    async: false
            });
        });
    });
    //]]>
</script>

