- content_for :content_body do
  = form_tag mashout_create_url, :id => 'mashout-form' do
    = render 'target_list_item', :item_number => 1
    = render 'hashtag_list_item', :item_number => 2, :hashtags => @hashtags
    = render 'trend_list_item', :item_number => 3
    = render 'comment_list_item', :item_number => 4
    = render 'hidden_out'

- content_for :out do
  = render 'out', :form_path => mashout_create_url

