- content_for :optional_css do
  = stylesheet_link_tag 'dashboard'

- content_for :optional_javascript do
  = javascript_include_tag 'dashboard'
  = javascript_include_tag 'mashout'

- if controller.controller_name == 'dashboard' and controller.action_name != 'video_playback'
  - content_for :title do
    .left
      %h1.inset-type What do you want to do today?
      %p#title-subtitle Use the drop down menu on the right to select your tool!
    %img.left{:alt => "Pick your tool", :src => "#{asset_path('arrow.png')}"}
    = form_tag(dashboard_tool_url, :method => :get, :id => 'tool-form') do
      #tool-selector.right.ui-combobox
        %select{:id => 'tool', :style => "display: none;"}
          %option{:value => "#{dashboard_url}"} Dashboard
          %option{:value => "#{dashboard_mashout_url}"} Targeted MASHOUT&trade;
          %option{:value => "#{dashboard_blastout_url}"} Video BLASTOUT&trade;
          %option{:value => "#{dashboard_shoutout_url}"} Top Trend SHOUTOUT&trade;
          /%option{:value => "#{dashboard_pickout_url}"} Credible Winner PICKOUT&trade;
          %option{:value => "#{dashboard_signout_url}"} Sign Out
        = hidden_field_tag 'tool-selection'
      :javascript
        $(function(){ $("#tool").next().val($("#tool option[value='#{@current_tool}']").text()).blur(); });
        $(function(){ $("#tool-selector").bind("autocompleteselect", function (event, ui) { $("#tool-selection").val(ui.item.option.value); $("#tool-form").submit(); }); });

= render :template => 'layouts/inner'

